/* VARIABLES */

:root {
  --clr-primary-dark-cyan: hsl(158, 36%, 37%);
  --clr-primary-cream: hsl(30, 38%, 92%);
  --clr-neutral-very-dark-blue: hsl(212, 21%, 14%);
  --clr-neutral-dark-greyish-blue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', serif;
}


/* RESET */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* GLOBAL */

body {
  display: grid;
  place-content: center;

  background-color: var(--clr-primary-cream);

  font-family: var(--ff-primary);
}

/* TYPOGRAPHY */

.h1 {
  font-family: var(--ff-secondary);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;

  color: var(--clr-neutral-very-dark-blue);

  margin-bottom: 20px;
}

/* UTILS */

.container {
  width: min(95%, 600px);
  margin-inline: auto;
}

/* BUTTONS */

.btn {
  display: inline-block;
  width: 100%;

  border: none;

  padding: 15px 0;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;

}

.btn.btn--primary {
  background-color: var(--clr-primary-dark-cyan);
  color: var(--clr-neutral-white);

  position: relative;

  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--primary::before {
  content: url('../images/icon-cart.svg');
  position: relative;

  width: 15px;
  height: 16px;

  margin-right: 16px;
}

/* PRODUCT CARD */

.product {
  background-color: var(--clr-neutral-white);
  border-radius: 10px;
  overflow: hidden;

  margin-block: 28px;

  display: flex;
  flex-direction: column;
}

.product__image-container {
  position: relative;

  height: 240px;
}

.product__image-container img {
  position: absolute;
  inset: 0;
  
  object-fit: cover;
  object-position: center;

  height: 100%;
  width: 100%;
}

.product__content {
  margin: 24px;
}

.product__subtitle {
  font-size: 12px;
  font-weight: var(--clr-neutral-dark-greyish-blue);
  line-height: 14.63px;
  letter-spacing: 5px;

  text-transform: uppercase;
  color: var(--clr-neutral-dark-greyish-blue);

  margin-bottom: 12px;
}


.product__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  color: var(--clr-neutral-dark-greyish-blue);

  padding-right: 32px;
}

.product__price-container {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-top: 24px;
}

.product__price-container .current-price {
  font-family: var(--ff-secondary);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--clr-primary-dark-cyan);
}

.product__price-container .prev-price {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  color: var(--clr-neutral-dark-greyish-blue);

  text-decoration: line-through;
}


@media (min-width: 768px) {
  .product {
    flex-direction: row;
    width: 600px;
  }

  .product__image-container {
    flex-basis: 50%;
    min-width: 300px;
    min-height: 100%;
  }

  .product__content {
    flex-basis: 50%;
  }

  .product__text {
    padding-right: 16px;
  }
}